body{
            margin: 20px;
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 20px;
            background-color: antiquewhite;
            margin-right: 1px;
        }
        h1{
            background: cadetblue;
            color: rgb(34, 42, 56);
            text-align: center;
            padding: 0px;
            border-style: dotted;
        }
        .container{
          
            background-color: #575757;
            
        }
        h3{
            border: 0px solid black;
            background-color: aquamarine;
            border-radius: 10px;
        }
        h2{
            border: 0px solid white;
            background-color: honeydew;
            border-radius: 10px;
        }
        .content{
            margin-left: 180px;
            padding:20px;

        }
        .sidebar{
            width: 200px;
            background: #333;
            color: white;
            height: 100vh;
            padding: 15px;
            position: fixed;
            top: 0;
            left:0px;
            

        }
        .i1{
            box-sizing: border-box;
            border: 4px solid papayawhip;

        }
        .sidebar a{
            display: block;
            color: wheat;
            padding: 10px;
            text-decoration: none;
            border-bottom: 2px solid white;
        }
        .sidebar a:hover{
            background: #575757;
        }
        .sidebar a:visited{
            background: purple;
        }
        img{
            height: 150px;
            width: 150px;
            
        }