body{
    background-color: beige;
}
div{
    background-color: burlywood;
    border-radius: 23px;
}
h1{
    color: blueviolet;
    text-align: center;
    font-weight: bold;
     
}
h2{
    color: blueviolet;
    text-align: center;
    font-weight: bold;
    
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}
nav {
    text-align: center;
    
    padding-bottom: 10px;
    margin-bottom: 20px;
}
a:visited{
    color: #0066cc;
    
}
p1{
    color: coral;
}


p{
    color: chocolate;
    text-align: center;
    margin: 0 15px; 
    border-bottom: 2px solid #ccc;
   
}
h3{
    color: red;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}